/* ---- Configuration ---- */

configuration {
    modi:                               "drun,filebrowser,window";
    font:                                "Fira Code SemiBold 12";
    show-icons:                     true;
    display-drun:                   "";
    display-run:                     "";
    display-filebrowser:        "";
    display-window:             "";
	drun-display-format:      "{name}";
    hover-select:                    true;
    me-select-entry:            "MouseSecondary";
    me-accept-entry:            "MousePrimary";
    window-format:               "{w}{t}";
	font:                                   "JetBrainsMono Nerd Font 11";
    icon-theme:                     "Tela-circle-dracula";
    
}

/* ---- Load pywal colors (custom wal template) ---- */
/*@import "~/.config/rofi/themes/rofi-colors.rasi" */
@import "~/.config/rofi/rofi-vars.rasi"


/* ---- Window ---- */
window {
    width:						450px;
	height:						400px;
    x-offset:                   0px;
    y-offset:                   0px;
    spacing:                    0px;
    padding:                    0px;
    margin:                     0px; 
    cursor:                     "default";
    location:                   center;
    anchor:                     center;
    fullscreen:                 false;
    enabled:                    true;
    transparency:                "real";
}

/* ---- Mainbox ---- */
mainbox {
    enabled:                    true;
    orientation:                vertical;
	padding:					2px;
    background-color:    transparent;
    children:                   [ "imagebox" ];
    
}

/* ---- Imagebox ---- */
imagebox {
    background-color:           rgba(0,0,0,0.5);
    orientation:                horizontal;
    padding:                    6px;
    children:                   [   "listbox"];
}

/* ---- Listbox ---- */
listbox {
    spacing:                            5px;
    orientation:                        vertical;
    border-color:                   @active-background;
	background-color:		    transparent;
    children:                   [ "inputbar", "listview" ];
}


/* ---- Inputbar ---- */
inputbar {
    enabled:                    true;
    text-color:                 #ffffff;
    spacing:                    10px;
    border-radius:              @radius-second;
	background-color:		    rgba(0,0,0,0.5);
    children:                   [ "textbox-prompt-colon","entry" ];
}

textbox-prompt-colon {
    enabled:                    true;
	padding:					5px;
    expand:                     false;
    str:                        "";
    text-color:                 #ffffff;
	background-color:			transparent;
}

entry {
    enabled:                    true;
	padding:					10px;
    text-color:                 #ffffff;
    cursor:                     text;
    placeholder:                "Search..";
    placeholder-color:          transparent;
	background-color:			transparent;
}

/* ---- Mode Switcher ---- */
mode-switcher{
    orientation:				vertical;
    width:                      40px;
    enabled:                    true;
    spacing:                    20px;
    background-color:          	transparent;
    text-color:                 #ffffff;
}

button {
    padding:                   0px 12px 0px 8px;
    border-radius:             @radius-second;
    background-color:          transparent;
    text-color:                #ffffff;
    cursor:                    pointer;
    border:                    1px;
    border-color:              @active-background;
    border-radius:             20px;
}

button selected {
    background-color:          transparent;
    text-color:                #ffffff;
    border:                    1px;
    border-color:              @background;
	
}

/* ---- Listview ---- */
listview {
	enabled:					true;
            columns:					      1;
            lines:						           10;
            spacing:                           2px;
            padding:					       6px;
            dynamic:                          true;
            cycle:                               true;
            scrollbar:                         false;
            layout:                             vertical;
            reverse:                           false;
            fixed-height:                   true;
            fixed-columns:              false;
	        background-color:        transparent;

}

/* ---- Element ---- */
element {
    enabled:                    true;
    padding:                    5px;
    margin:                     2px;
    cursor:                     pointer;
    background-color:         	transparent;
    border-radius:              15px;
    border:                     0px;
}

element normal.normal {
    background-color:           transparent;
    text-color:                 #ffffff;
}

element normal.urgent {
    background-color:           transparent;
    text-color:                 #ffffff;
}

element normal.active {
    background-color:           transparent;
    text-color:                 #ffffff;
}

element selected.normal {
    background-color:           transparent;
    text-color:                 #ffffff;
}

element selected.urgent {
    background-color:           transparent;
    text-color:                 #ffffff;
}

element selected.active {
    background-color:           transparent;
    text-color:                 #ffffff;
}

element alternate.normal {
    background-color:           transparent;
    text-color:                 #ffffff;
}

element alternate.urgent {
    background-color:           transparent;
    text-color:                 #ffffff;
}

element alternate.active {
    background-color:           transparent;
    text-color:                 #ffffff;
}

element-icon {
    background-color:           transparent;
    text-color:                 #ffffff;
    size:                       30px;
    cursor:                     inherit;
}

element-text {
    background-color:           transparent;
    text-color:                 #ffffff;
    cursor:                     inherit;
    vertical-align:             0.5;
    horizontal-align:           0;
}

/*****----- Message -----*****/
message {
    background-color:           transparent;
    margin:						20px 0px 0px 0px;
    border-radius: 				12px;
}

textbox {
    padding:                    10px;
    background-color:      	transparent;
    text-color:                 #ffffff;
}

error-message {
    padding:                    15px;
    border-radius:            	12px;
    background-color:      		transparent;
    text-color:                 #ffffff;
}
