:root {

    --background: #141218;

    --error: #ffb4ab;

    --error_container: #93000a;

    --inverse_on_surface: #322f35;

    --inverse_primary: #64558f;

    --inverse_surface: #e6e1e9;

    --on_background: #e6e1e9;

    --on_error: #690005;

    --on_error_container: #ffdad6;

    --on_primary: #35275d;

    --on_primary_container: #e8ddff;

    --on_primary_fixed: #201047;

    --on_primary_fixed_variant: #4c3e75;

    --on_secondary: #332d41;

    --on_secondary_container: #e8def8;

    --on_secondary_fixed: #1d192b;

    --on_secondary_fixed_variant: #494458;

    --on_surface: #e6e1e9;

    --on_surface_variant: #cac4cf;

    --on_tertiary: #492532;

    --on_tertiary_container: #ffd9e3;

    --on_tertiary_fixed: #31101d;

    --on_tertiary_fixed_variant: #633b49;

    --outline: #948f99;

    --outline_variant: #49454e;

    --primary: #cebdfe;

    --primary_container: #4c3e75;

    --primary_fixed: #e8ddff;

    --primary_fixed_dim: #cebdfe;

    --scrim: #000000;

    --secondary: #cbc3dc;

    --secondary_container: #494458;

    --secondary_fixed: #e8def8;

    --secondary_fixed_dim: #cbc3dc;

    --shadow: #000000;

    --source_color: #3d3062;

    --surface: #141218;

    --surface_bright: #3b383e;

    --surface_container: #211f24;

    --surface_container_high: #2b292f;

    --surface_container_highest: #36343a;

    --surface_container_low: #1d1b20;

    --surface_container_lowest: #0f0d13;

    --surface_dim: #141218;

    --surface_tint: #cebdfe;

    --surface_variant: #49454e;

    --tertiary: #efb8c8;

    --tertiary_container: #633b49;

    --tertiary_fixed: #ffd9e3;

    --tertiary_fixed_dim: #efb8c8;



    --background_rgb: 20 18 24;

    --error_rgb: 255 180 171;

    --error_container_rgb: 147 0 10;

    --inverse_on_surface_rgb: 50 47 53;

    --inverse_primary_rgb: 100 85 143;

    --inverse_surface_rgb: 230 225 233;

    --on_background_rgb: 230 225 233;

    --on_error_rgb: 105 0 5;

    --on_error_container_rgb: 255 218 214;

    --on_primary_rgb: 53 39 93;

    --on_primary_container_rgb: 232 221 255;

    --on_primary_fixed_rgb: 32 16 71;

    --on_primary_fixed_variant_rgb: 76 62 117;

    --on_secondary_rgb: 51 45 65;

    --on_secondary_container_rgb: 232 222 248;

    --on_secondary_fixed_rgb: 29 25 43;

    --on_secondary_fixed_variant_rgb: 73 68 88;

    --on_surface_rgb: 230 225 233;

    --on_surface_variant_rgb: 202 196 207;

    --on_tertiary_rgb: 73 37 50;

    --on_tertiary_container_rgb: 255 217 227;

    --on_tertiary_fixed_rgb: 49 16 29;

    --on_tertiary_fixed_variant_rgb: 99 59 73;

    --outline_rgb: 148 143 153;

    --outline_variant_rgb: 73 69 78;

    --primary_rgb: 206 189 254;

    --primary_container_rgb: 76 62 117;

    --primary_fixed_rgb: 232 221 255;

    --primary_fixed_dim_rgb: 206 189 254;

    --scrim_rgb: 0 0 0;

    --secondary_rgb: 203 195 220;

    --secondary_container_rgb: 73 68 88;

    --secondary_fixed_rgb: 232 222 248;

    --secondary_fixed_dim_rgb: 203 195 220;

    --shadow_rgb: 0 0 0;

    --source_color_rgb: 61 48 98;

    --surface_rgb: 20 18 24;

    --surface_bright_rgb: 59 56 62;

    --surface_container_rgb: 33 31 36;

    --surface_container_high_rgb: 43 41 47;

    --surface_container_highest_rgb: 54 52 58;

    --surface_container_low_rgb: 29 27 32;

    --surface_container_lowest_rgb: 15 13 19;

    --surface_dim_rgb: 20 18 24;

    --surface_tint_rgb: 206 189 254;

    --surface_variant_rgb: 73 69 78;

    --tertiary_rgb: 239 184 200;

    --tertiary_container_rgb: 99 59 73;

    --tertiary_fixed_rgb: 255 217 227;

    --tertiary_fixed_dim_rgb: 239 184 200;

}